body {
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;


}

.collapsible {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

.collapsible:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.parentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.kompass {
    position: relative;
    ;
}

.arrow {
    position: absolute;
}

.pic {

    height: 200px;

}

.tempBox,
.windBox {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

h1 {
    color: #66BFBF;
    font-family: 'Bad Script', cursive;
    font-size: 5.625rem;
    line-height: 2;
    margin: 50px auto 0 auto;

}

h2 {
    color: #768a8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    ;

}



a {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}


.top-container {
    position: relative;
    background-color: #EAF6F6;
    padding-top: 30px;

}


.top-cloud {
    position: absolute;
    right: 20%;
    top: 40px;
}




.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}



.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;

}

.name {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

li {
    list-style: none;
}